---
services:
  wallabag:
    image: wallabag/wallabag:latest
    container_name: wallabag-app
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/docker/wallabag/images:/var/www/wallabag/web/assets/images
      - /var/docker/wallabag/data:/var/www/wallabag/data
    depends_on:
      - wallabag-db
    links:
      - wallabag-db
    environment:
      - SYMFONY__ENV__DATABASE_HOST=wallabag-db
      - SYMFONY__ENV__DATABASE_PORT=3306
      - SYMFONY__ENV__DATABASE_NAME=wallabag
      - SYMFONY__ENV__DATABASE_USER=${MARIADB_USER}
      - SYMFONY__ENV__DATABASE_PASSWORD=${MARIADB_PASSWORD}
      - SYMFONY__ENV__DOMAIN_NAME=https://${WALLABAG_URL}
      - SYMFONY__ENV__FOSUSER_REGISTRATION=false
      - SYMFONY__ENV__FOSUSER_CONFIRMATION=false
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wallabag.entrypoints=websecure"
      - "traefik.http.routers.wallabag.rule=Host(`${WALLABAG_URL}`)"
      - "traefik.http.routers.wallabag.tls=true"
      - "traefik.http.routers.wallabag.tls.certresolver=default"
      - "traefik.http.services.wallabag.loadbalancer.server.port=80"
    networks:
      - traefik_proxy
      - default

  wallabag-db:
    image: mariadb:11.6
    container_name: wallabag-db
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/docker/wallabag/data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=wallabag
      - MYSQL_USER=${MARIADB_USER}
      - MYSQL_PASSWORD=${MARIADB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}

networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge
