EXTERNAL_URL=rss.url.de
PORT=8080

ADMIN_USERNAME=admin
ADMIN_PASSWORD=secretpassword
POSTGRES_USER=miniflux
POSTGRES_PASSWORD=secretpassword
DATABASE_URL=postgres://miniflux:secretpassword@miniflux-db:5432/miniflux?sslmode=disable

