---
version: '3.3'

services:
  portainer:
    image: portainer/portainer-ce:2.15.0
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/docker/portainer:/data
    ports:
      - 9000:9000