---
version: "3"

services:
  matomo-db:
    image: mariadb:11.3
    container_name: matomo-db
    restart: unless-stopped
    volumes:
      - /var/docker/matomo/database:/var/lib/mysql
    env_file:
      - ./.env

  matomo-app:
    image: matomo:fpm-alpine
    container_name: matomo-app
    restart: unless-stopped
    volumes:
      - /var/docker/matomo/app:/var/www/html
    env_file:
      - ./.env

  matomo-web:
    image: nginx:alpine
    container_name: matomo-web
    restart: unless-stopped
    volumes:
      - /var/docker/matomo/app:/var/www/html:ro
      - ./matomo.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - matomo-db
      - matomo-app
    ports:
      - 80:80